<% include _header %>
<div class="container">

  <h2>Branch Profile</h2>

  <form action="/profile" method="post">
    <div class="form-group">
      <label for="branchNumber">Branch Number</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="branchNumber" placeholder="Number" required autofocus="required"/>
      </div>
    </div>

      <div class="form-group">
      <label for="street">Street Address</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="street" placeholder="Street Address" required />
      </div>
      </div>

    <div class="form-group">
      <label for="city">City</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="city" placeholder="City">
      </div>
    </div>
 
    <div class="form-group">
          <label for="state">State</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="state" aria-describedby="userHelp" placeholder="State (Abbr)">
      </div>
      </div>
   
      <div class="form-group">
      <label for="zip">Zip Code</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="zip" aria-describedby="userHelp" placeholder="Zip Code">
      </div>
    </div>

    <div class="form-group">
      <label for="telephone">Telephone Number</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="telephone" aria-describedby="userHelp" placeholder="Branch Phone Number">
      </div>
    </div>

    <div class="form-group">
      <label for="managerFirstName">Manager First Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="managerFirstName" aria-describedby="userHelp" placeholder="Manager First Name">
      </div>
    </div>

    <div class="form-group">
      <label for="managerLastName">Manager First Name</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="managerLastName" aria-describedby="userHelp" placeholder="Manager Last Name">
      </div>
    </div>

    <div class="form-group">
      <label for="locLat">Geo Location Lat</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="locLat" aria-describedby="userHelp" placeholder="Branch Geo Lat (decimal degrees)">
      </div>
    </div>

    <div class="form-group">
      <label for="locLng">Geo Location Lon</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="locLng" aria-describedby="userHelp" placeholder="Branch Geo Lng (decimal degrees)">
      </div>
    </div>



    <button type="submit" value="profile" class="btn btn-primary">Add Profile</button>

  </form>
</div>

<% include _footer %>